<h1>Login</h1>

<%= form_tag login_path, role: 'form' do %>
  <%= label_tag :email, nil %>
  <%= email_field_tag :email, params[:email] %>
  <%= label_tag :password, nil %>
  <%= password_field_tag :password, nil %>
  <button type="submit">Login!</button>
  <% end %>
